<section class="flex flex-col items-center justify-center mt-10">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 50 50">
    <path
      fill="currentColor"
      d="M25 42c-9.4 0-17-7.6-17-17S15.6 8 25 8s17 7.6 17 17s-7.6 17-17 17m0-32c-8.3 0-15 6.7-15 15s6.7 15 15 15s15-6.7 15-15s-6.7-15-15-15"
    />
    <path fill="currentColor" d="M16 24h18v2H16z" />
  </svg>
  <h2>No Results were founded</h2>
  <a (click)="goBack()" class="link-primary cursor-pointer">Go Back</a>
</section>
